
.listsWrapper{
  width: fit-content;
  margin:auto;

    .waitingForTodo{
      display:inline-block;
      background-color: var(--itemsBackground-color);
      height: 250px;
      width: 604px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom: 1px solid #3B3B58;
      transition:0.8s;

        .loader{
          background-image:url(./../../../public/imgs/loader.gif);
          background-size: cover;
          width: 150px;
          height: 150px;
          margin: auto;
        }


        .loaderTitle{
          // width:fit-content;
          color:  var(--font-color);
          text-align: center;
          margin: 20px auto;
        }
    }
}