

@mixin todoIsDone {
  // max-width: 380px;
  // overflow: hidden;
  // margin-left: 40px;
  // overflow-wrap: break-word;
  // text-decoration:line-through;
  // color:rgba(180, 174, 174, 0.362);
  // transition: 0.5s;
  // background-color: blue;

      width: 380px;
      overflow: hidden;
      margin-left: 20px;
      overflow-wrap: break-word;
      color: var(--font-color);
      text-decoration:line-through;
      color:rgba(180, 174, 174, 0.362);
      transition: 0.5s;




      @media (max-width:670px){
        width: 100%;
      }
}


.list {
  display: flex;
  align-items: center;
  background-color:  var(--itemsBackground-color);
  // width: 604px;
  width: 100%;
  // height: 75px;
  margin:auto;
  border-bottom: solid 1px #3B3B58;
  position: relative;
  transition:0.8s;
  justify-content: space-between;


    &:first-child{
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }



    .checkToggle{
      border-radius: 50%;
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      color: white;
      background: rgb(101,173,246);
      background: linear-gradient(148deg, rgba(101,173,246,1) 34%, rgba(137,85,209,1) 70%);
      cursor: pointer;

        span{
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;

        }


        .notChecked{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: var(--itemsBackground-color);
          box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.1);
          border:1px solid silver;
          transition:0.8s;
        }
    }

    .todoText{
      width: 380px;

      overflow: hidden;
      margin-left: 20px;
      overflow-wrap: break-word;
      color: var(--font-color);
      word-wrap: break-word;
      word-break: break-all;
 
    }


    .todoIsDone{
      @include todoIsDone
    }

      & input{
        height: 53px;
        font-family: 'Mulish', sans-serif;
        border-radius: 5px;
      }


    .editStuff{
      // width: 50px;
      // height: 50px;
      display: flex;
      // position: absolute;
      // right: 0;
      // margin-left: 40px;
      margin-right: 10px;
      
    }

    .editMode{
      // position: absolute;
      // right:0;
      // margin: 80px;
      cursor: pointer;
    }

    .todoRemove{
      // position: absolute;
      // right:0;
      // margin: 40px;
      margin-left: 10px;
      cursor: pointer;
      opacity:30%;


        &:hover{
          opacity:100%;
        }
    }


    @media (max-width:670px){
      .todoText{
        
        width: 100%;

      }
    }
}

