@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;900&family=Prompt:wght@500&display=swap');


.header {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin:auto;
  padding-bottom: 20px;

  .title{
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: 'Prompt', sans-serif;
  }

  .themeToggleIcon{
    margin: auto 0;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }

}
