

@mixin categories (){
  margin: 0 10px;
  cursor: pointer;
    &:hover{
      color: #5765FF;
    }
        
}


.navbar{
  display: flex;
  justify-content: space-around;
  width: 604px;
  width: 100%;

  margin: auto;
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--itemsBackground-color);
  color:grey;
  transition:0.8s;





    .categories{
      display: flex;
    }

    .all{
      @include categories();
    }

    .active{
      @include categories();
    }

    .completed{
      @include categories();
    }

    .clearChecked{
      cursor: pointer;

      &:hover{
        color: #5765FF;
      }
    }

    .currentCategory{
      color: #5765FF;
    }
}


@media (max-width:670px){
  .navbar{
    font-size: 12px;
  }
}