.app {
  position: relative;
  bottom: 320px;
  z-index:99;
  margin:auto;
  width:fit-content;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  

    .shadowBox{
      box-shadow: 0px 13px 15px 9px rgba(0,0,0,0.1);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
}
